<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>ASP.NET Web Pages makes it easy to build powerful .NET based applications for the web.</p>
		<dl>
			<dt>Time:</dt>
			<dd>@DateTime.Now.ToString()</dd>
			<dt>Model:</dt>
			<dd>@Model</dd>
		</dl>
	</body>
</html>